

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*-----------------------preguntas--------------------------*/


/*-------protInit2--------------------*/
.bg2Prot {background:url(../img/bg2ProtIni.png);background-repeat:repeat-y;height:550px	width:1100px;}
.perro2ProtIni{ position:relative; top:-260px; left:20px; width:205px; height:202px;}
.botones2ProtIni{padding: 80px 0 0 220px;}
.protBtn1 {position:relative; background:url(../img/2-protA.png); background-repeat:no-repeat; width:367px; height:104px; cursor:pointer; float:left; margin-right:60px; margin-bottom:50px;}
.protBtn2 {position:relative; background:url(../img/2-protB.png); background-repeat:no-repeat; width:367px; height:104px; cursor:pointer; float:left; margin-bottom:50px;}
.protBtn3 {position:relative; background:url(../img/2-protC.png); background-repeat:no-repeat; width:367px; height:104px; cursor:pointer; float:left;margin-right:60px;}
.protBtn4 {position:relative; background:url(../img/2-protD.png); background-repeat:no-repeat; width:367px; height:104px; cursor:pointer; float:left;}


.protBtn1:hover { background:url(../img/2-protAHover.png); background-repeat:no-repeat;}
.protBtn2:hover  {background:url(../img/2-protBHover.png); background-repeat:no-repeat;}
.protBtn3:hover  {background:url(../img/2-protCHover.png); background-repeat:no-repeat;}
.protBtn4:hover  {background:url(../img/2-protDHover.png); background-repeat:no-repeat;}

.resultado2ProtInic{padding: 120px 0 0 187px; position:relative; top:-258px}

.protBtn1R {position:relative; background:url(../img/2-protAR.png); background-repeat:no-repeat; width:400px; height:104px; cursor:pointer; float:left; margin-right:25px; margin-bottom:50px;}
.protBtn2R{position:relative; background:url(../img/2-protBR.png); background-repeat:no-repeat; width:400px; height:104px; cursor:pointer; float:left; margin-bottom:50px;}
.protBtn3R{position:relative; background:url(../img/2-protCR.png); background-repeat:no-repeat; width:400px; height:104px; cursor:pointer; float:left;margin-right:25px;}
.protBtn4R {position:relative; background:url(../img/2-protDR.png); background-repeat:no-repeat; width:400px; height:104px; cursor:pointer; float:left;}



/*-------vita2--------------------*/
.bg2Vita {background:url(../img/bg2Vita.png);background-repeat:repeat-y;height:550px	width:1100px;}
.perro2Vita{ position:relative; top:-415px; left:60px; width:205px; height:202px;}
.botones2Vita{padding: 25px 0 0 410px;}
.vitaBtn1 {position:relative; background:url(../img/2-vitaA.png); background-repeat:no-repeat; width:367px; height:104px; cursor:pointer;  margin-bottom:30px;}
.vitaBtn2 {position:relative; background:url(../img/2-vitaB.png); background-repeat:no-repeat; width:367px; height:104px; cursor:pointer; margin-bottom:30px;}
.vitaBtn3 {position:relative; background:url(../img/2-vitaC.png); background-repeat:no-repeat; width:367px; height:104px; cursor:pointer; }


.vitaBtn1:hover { background:url(../img/2-vitaAHover.png); background-repeat:no-repeat;}
.vitaBtn2:hover  {background:url(../img/2-vitaBHover.png); background-repeat:no-repeat;}
.vitaBtn3:hover  {background:url(../img/2-vitaCHover.png); background-repeat:no-repeat;}

.resultado2Vita{padding: 120px 0 0 377px; position:relative; top:-493px}

.vitaBtn1R {position:relative; background:url(../img/2-vitaAR.png); background-repeat:no-repeat; width:400px; height:104px; cursor:pointer;  margin-bottom:30px;}
.vitaBtn2R{position:relative; background:url(../img/2-vitaBR.png); background-repeat:no-repeat; width:400px; height:104px; cursor:pointer;  margin-bottom:30px;}
.vitaBtn3R{position:relative; background:url(../img/2-vitaCR.png); background-repeat:no-repeat; width:400px; height:104px; cursor:pointer;}



/*-------forma2--------------------*/
.bg2Forma {background:url(../img/bg2Vita.png);background-repeat:repeat-y;height:550px	width:1100px;}
.perro2Forma{ position:relative; top:-335px; left:60px; width:205px; height:202px;}
.botones2Forma{padding: 25px 0 0 410px;}
.formaBtn1 {position:relative; background:url(../img/2-formaA.png); background-repeat:no-repeat; width:367px; height:104px; cursor:pointer;  margin-bottom:30px;}
.formaBtn2 {position:relative; background:url(../img/2-formaB.png); background-repeat:no-repeat; width:367px; height:104px; cursor:pointer; margin-bottom:30px;}
.formaBtn3 {position:relative; background:url(../img/2-formaC.png); background-repeat:no-repeat; width:367px; height:104px; cursor:pointer; }


.formaBtn1:hover { background:url(../img/2-formaAHover.png); background-repeat:no-repeat;}
.formaBtn2:hover  {background:url(../img/2-formaBHover.png); background-repeat:no-repeat;}
.formaBtn3:hover  {background:url(../img/2-formaCHover.png); background-repeat:no-repeat;}

.resultado2Forma{padding: 120px 0 0 380px; position:relative; top:-492px}

.formaBtn1R {position:relative; background:url(../img/2-formaAR.png); background-repeat:no-repeat; width:400px; height:104px; cursor:pointer;  margin-bottom:30px;}
.formaBtn2R{position:relative; background:url(../img/2-formaBR.png); background-repeat:no-repeat; width:400px; height:104px; cursor:pointer;  margin-bottom:30px;}
.formaBtn3R{position:relative; background:url(../img/2-formaCR.png); background-repeat:no-repeat; width:400px; height:104px; cursor:pointer;}




/*-------sen2--------------------*/
.bg2Sen {background:url(../img/bg2Vita.png);background-repeat:repeat-y;height:550px	width:1100px;}
.perro2Sen{ position:relative; top:-350px; left:60px; width:205px; height:202px;}
.botones2Sen{padding: 25px 0 0 350px;}
.senBtn1 {position:relative; background:url(../img/2-senA.png); background-repeat:no-repeat; width:472px; height:104px; cursor:pointer;  margin-bottom:30px;}
.senBtn2 {position:relative; background:url(../img/2-senB.png); background-repeat:no-repeat; width:472px; height:104px; cursor:pointer; margin-bottom:30px;}
.senBtn3 {position:relative; background:url(../img/2-senC.png); background-repeat:no-repeat; width:472px; height:104px; cursor:pointer; }


.senBtn1:hover { background:url(../img/2-senAHover.png); background-repeat:no-repeat;}
.senBtn2:hover  {background:url(../img/2-senBHover.png); background-repeat:no-repeat;}
.senBtn3:hover  {background:url(../img/2-senCHover.png); background-repeat:no-repeat;}

.resultado2Sen{padding: 120px 0 0 317px; position:relative; top:-492px}

.senBtn1R {position:relative; background:url(../img/2-senAR.png); background-repeat:no-repeat; width:505px; height:104px; cursor:pointer;  margin-bottom:30px;}
.senBtn2R{position:relative; background:url(../img/2-senBR.png); background-repeat:no-repeat; width:505px; height:104px; cursor:pointer;  margin-bottom:30px;}
.senBtn3R{position:relative; background:url(../img/2-senCR.png); background-repeat:no-repeat; width:505px; height:104px; cursor:pointer;}



/*-------plus2--------------------*/
.bg2Plus {background:url(../img/bg2Vita.png);background-repeat:repeat-y;height:550px	width:1100px;}
.perro2Plus{ position:relative; top:-400px; left:60px; width:205px; height:202px;}
.botones2Plus{padding: 25px 0 0 350px;}
.plusBtn1 {position:relative; background:url(../img/2-plusA.png); background-repeat:no-repeat; width:472px; height:104px; cursor:pointer;  margin-bottom:30px;}
.plusBtn2 {position:relative; background:url(../img/2-plusB.png); background-repeat:no-repeat; width:472px; height:104px; cursor:pointer; margin-bottom:30px;}
.plusBtn3 {position:relative; background:url(../img/2-plusC.png); background-repeat:no-repeat; width:472px; height:104px; cursor:pointer; }


.plusBtn1:hover { background:url(../img/2-plusAHover.png); background-repeat:no-repeat;}
.plusBtn2:hover  {background:url(../img/2-plusBHover.png); background-repeat:no-repeat;}
.plusBtn3:hover  {background:url(../img/2-plusCHover.png); background-repeat:no-repeat;}

.resultado2Plus{padding: 120px 0 0 313px; position:relative; top:-492px}

.plusBtn1R {position:relative; background:url(../img/2-plusAR.png); background-repeat:no-repeat; width:511px; height:104px; cursor:pointer;  margin-bottom:30px;}
.plusBtn2R{position:relative; background:url(../img/2-plusBR.png); background-repeat:no-repeat; width:511px; height:104px; cursor:pointer;  margin-bottom:30px;}
.plusBtn3R{position:relative; background:url(../img/2-plusCR.png); background-repeat:no-repeat; width:511px; height:104px; cursor:pointer;}
